@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
.navegador{
    background-color: black;
    border-bottom: 5px solid rgb(0,132,255);
    height: 10vh;
    color:#fff;
    font-size: 2.5rem;
    padding: 1px 100px;
    margin: 0 auto;
    line-height: 90px;
    display: flex;
    justify-content: space-between;
}
.web{
    color: rgb(0,132,255);
}
.lista a{
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}
p{
    font-size:1rem;
    color:#fff;
}
.suscribete{
    background-color: #000;
    width: 100%;
    bottom: 120px;
    height: 11vh;
    display: flex;
}
.texto_suscribete{
    line-height:90px;
    width: 70%;
    padding-left: 100px;
}
.texto_suscribete p{
    font-size: 2rem;
}
.input_suscribete{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}
button{
    height: 4.5vh;
    color: #fff;
    background-color: orangered;
    border: none;
    width: 10%;
    font-size: 1.2rem;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(255, 38, 0);
}
.input_suscribete input[type=text]{
    background-color: #ffff;
    border: 1px solid #000;
    height: 4vh;
    width: 25%;
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px;
    font-size: 1.2rem;
}
.herramientas{
    bottom: -410px;
    height: 10px;
    width: 90%;
    background-color: rgb(255, 249, 249);
    padding-left: 150px;
    direction: column;
}
.parrafo{
    color: #000;
    padding: 15px;
}
.parrafo2{
    color: white;
    padding: 15px;
}
.disenoweb{
    float: left;
    width: 65%;
    height: auto;
    flex-direction: row;
    background-color:darkgrey;
}
.desarrolloweb{
    float: left;
    width: 65%;
    height: auto;
    flex-direction: row;
    background-color:darkgrey;
    margin-top: 50px;
}
.hostingweb{
    float: left;
    width: 65%;
    height: auto;
    flex-direction: row;
    background-color:darkgrey;
    margin-top: 50px;
}
.precio{
    color: #000;
    padding: 15px;
}
aside{
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 70%;
    padding-top: 20px;
}
.title{
    color:white;
}
.quehacemos{
    background-color:rgb(53, 66, 74);
    width: 70%;
}
footer{
    background-color: rgb(0, 127, 255);
    height: 7vh;
    width: 100%;
    position:absolute;
    bottom: -360px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    line-height: 150px;
    text-align: center;
}